html, body{
	height: 100%;
}

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700');
@font-face{
    font-family: 'Open Sans';
    src: url('../fonts/opensans.ttf') format('truetype'),
         url('../fonts/opensans.woff') format('woff'),
         url('../fonts/opensans.woff2') format('woff2');
    	 font-weight: 400;
    	 font-style: normal;
}
@font-face{
    font-family: 'Open Sans';
    src: url('../fonts/opensansitalic.ttf') format('truetype'),
         url('../fonts/opensanslight.woff') format('woff'),
         url('../fonts/opensansitalic.woff2') format('woff2');
    	 font-weight: 400;
    	 font-style: italic;
}
@font-face{
    font-family: 'Open Sans';
    src: url('../fonts/opensansbold.ttf') format('truetype'),
         url('../fonts/opensansbold.woff') format('woff'),
         url('../fonts/opensansbold.woff2') format('woff2');
    	 font-weight: 700;
    	 font-style: normal;
}

body{
	font-family: 'Lato', 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	font-style: normal;
	line-height: 1;
	color: #848789;
	margin: 0;
}

a{
	color: #4d4959;
	text-decoration: none;
	transition: 0.25s ease-out;
	-webkit-transition: 0.25s ease-out;
}

a:hover,
a:active{
	color: #64c29e;
}

h1,h2,h3{
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 2px;
	color: #353738;
	text-transform: uppercase;
}

input[placeholder]{
	color: #848789;
}

input:focus{
	border: 1px solid #aaa;
	box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

::-webkit-input-placeholder {
  color: rgba(132, 135, 137, 0.5);
}
::-moz-placeholder {
  color: rgba(132, 135, 137, 0.5);
}
:-ms-input-placeholder {
  color: rgba(132, 135, 137, 0.5);
}
:-moz-placeholder {
  color: rgba(132, 135, 137, 0.5);
}

.container{
	max-width: 1070px;
	margin: 0 auto;
}

.col-12{
	width: 100%;
	float: left;
}

.col-7{
	width: 66.66%;
	float: left;
}

.col-6{
	width: 50%;
	float: left;
}

.col-4{
	width: 33.33%;
	float: left;
}

.col-2{
	width: 20%;
	float: left;
}

.clearfix:after,
.clearfix:before{
	content: '';
	display: table;
	clear: both;
}

.page-home{
	min-height: 100%;
}

	/* header */
/*=================*/

.header{
	display: block;
	background-color: #222429;
	background: #222429 url(../img/bg-header.jpg) no-repeat center/cover;
	min-height: 800px;
	overflow: hidden;
}

	/* menu */
/*=================*/

.nav-wrapp {
    position: relative;
    padding-top: 35px;
    padding-bottom: 35px;
    width: 100%;
    z-index: 1000;
    transition: transform 0.3s linear;
    -webkit-transition: transform 0.3s linear;
}

.navigation{
	font-size: 0;
	text-align: center;
	margin: 0 auto;
}

.drop-menu{
	font-size: 0;
	float: right;
	display: none;
	position: fixed;
	top: 42px;
	right: 42px;
	cursor: pointer;
	padding: 10px;
	border: 1px solid #64c29e;
	z-index: 10000;
}

.drop-menu:hover,
.drop-menu:active{
	background-color: #ffffff;
}

.custom-fa-bars{
	font-size: 2.5rem;
	color: #64c29e;
}

.menu li {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	padding-left: 40px;
	padding-right: 40px;
}

.menu li:nth-child(2){
	padding-right: 0;
}

.menu li:nth-child(3){
	padding-left: 65px;
	padding-right: 65px;
}

.menu li:nth-child(4){
	padding-left: 0;
}

.menu li:not(.brand):before {
	content: '';
	position: absolute;
	top: calc(50% - 2px);
	right: 0;
	width: 4px;
	height: 4px;
	background-color: #4d4959;
}

.menu li:nth-child(2):before {
	display: none;
}

.menu li:nth-child(5):before {
	display: none;
}

.menu li a:not(.brand) {
	position: relative;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 2px;
	color: #4d4959;
	padding: 35px 0;
	text-decoration: none;
	text-transform: uppercase;
}

.menu li a:not(.brand):hover,
.menu li a:not(.brand):active {
	color: #64c29e;
}

.menu > li a:not(.brand):after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	border-top: 2px solid #4d4959;
	border-bottom: 2px solid #4d4959;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	transition: 0.25s ease;
	-webkit-transition: 0.25s ease;
}

.menu > li a:not(.brand):hover:after,
.menu > li a:not(.brand):active:after{
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

/* logo */
/*=================*/

a.brand {
	font-size: 0;
	display: block;
	width: 100%;
	height: 100%;
	transform: scale(1);
	-webkit-transform: scale(1);
}

.case-logo{
	position: relative;
	color: #64c29e;
}

.case-logo:hover .box-rotate,
.case-logo:active .box-rotate{
	transform: rotate(45deg) scale(1.2);
	-webkit-transform: rotate(45deg) scale(1.2);
}

.case-logo:hover .box-top span,
.case-logo:hover .box-right span,
.case-logo:hover .box-bottom span,
.case-logo:active .box-top span,
.case-logo:active .box-right span,
.case-logo:active .box-bottom span {
	transform: rotate(-45deg) scale(1.3);
	-webkit-transform: rotate(-45deg) scale(1.3);
}

.case-logo,
.brand .box-rotate{
	width: 84px;
	height: 84px;
	margin: 0 auto;
	font-size: 0;
}

.brand .box-rotate{
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transition: 0.3s cubic-bezier(0.45,1.95,0.32,0.38);
	-webkit-transition: 0.3s cubic-bezier(0.45,1.95,0.32,0.38);
}

.brand .box-top,
.brand .box-right,
.brand .box-bottom,
.brand .box-left{
	min-width: 42px;
	min-height: 42px;
	display: inline-block;
	animation: logo 1.5s ease-in;
	animation-delay: 0.0s;
	animation-direction: alternate;
}

.brand .box-top{
	border-top: 1px solid transparent;
    border-bottom: 1px solid #64c29e;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
}

.brand .box-right{
	border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
    border-left: 1px solid #64c29e;
}

.brand .box-bottom{
	border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-right: 1px solid #64c29e;
    border-left: 1px solid transparent;
}

.brand .box-left{
	border-top: 1px solid #64c29e;
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
}

.brand .box-top span,
.brand .box-right span,
.brand .box-bottom span{
	display: block;
	font-size: 20px;
	text-align: center;
	line-height: 42px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transition: 0.3s cubic-bezier(0.45,1.95,0.32,0.38);
	-webkit-transition: 0.3s cubic-bezier(0.45,1.95,0.32,0.38);
}

.brand .wrap-left{
	display: block;
	font-size: 20px;
	text-align: center;
	line-height: 42px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transition: 0.3s cubic-bezier(0.45,1.95,0.32,0.38);
	-webkit-transition: 0.3s cubic-bezier(0.45,1.95,0.32,0.38);
}

.brand .box-left span{
	font-size: 12px;
    position: relative;
    top: -8px;
}

.brand .center{
	width: 16px;
	height: 16px;
	position: absolute;
	top: calc(50% - 7px);
	left: calc(50% - 8px);
	border-radius: 50%;
	background: #f3f4fb;
}

.brand .center span{
	display: block;
	width: 100%;
	height: 100%;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);

}

@-webkit-keyframes logo {
	0% { transform: scale(0) rotate(-45deg); transform-origin: 50% 50%; }
	100% { transform: scale(1) rotate(45deg); transform-origin: 50% 50%; }
}
@-o-keyframes logo {
	0% { transform: scale(0) rotate(-45deg); transform-origin: 50% 50%; }
	100% { transform: scale(1) rotate(45deg); transform-origin: 50% 50%; }
}
@-moz-keyframes logo {
	0% { transform: scale(0) rotate(-45deg); transform-origin: 50% 50%; }
	100% { transform: scale(1) rotate(45deg); transform-origin: 50% 50%; }
}
@keyframes logo {
	0% { transform: scale(0) rotate(-45deg); transform-origin: 50% 50%; }
	100% { transform: scale(1) rotate(45deg); transform-origin: 50% 50%; }
}

.brand .center{
	animation: logoCentr 0.9s ease-in;
	animation-delay: 0.1s;
	animation-direction: alternate;
}

@-webkit-keyframes logoCentr {
	0% { transform: scale(0); transform-origin: 50% 50%; }
	50% { transform: scale(1.7); transform-origin: 50% 50%; }
	100% { transform: scale(1); transform-origin: 50% 50%; }
}
@-o-keyframes logoCentr {
	0% { transform: scale(0); transform-origin: 50% 50%; }
	50% { transform: scale(1.7); transform-origin: 50% 50%; }
	100% { transform: scale(1); transform-origin: 50% 50%; }
}
@-moz-keyframes logoCentr {
	0% { transform: scale(0); transform-origin: 50% 50%; }
	50% { transform: scale(1.7); transform-origin: 50% 50%; }
	100% { transform: scale(1); transform-origin: 50% 50%; }
}
@keyframes logoCentr {
	0% { transform: scale(0); transform-origin: 50% 50%; }
	50% { transform: scale(1.7); transform-origin: 50% 50%; }
	100% { transform: scale(1); transform-origin: 50% 50%; }
}

/* About-us */
/*=================*/

.about-us{
	text-align: center;
	padding: 110px 0;
	background-color: #f7f7f7;
}

.about-us .title,
.about-us .text,
.twits-slaider .icon,
.stay-email .brand,
.stay-email .title-form{
	margin-bottom: 35px;
}

.about-us .icon,
.all-product .icon{
	display: block;
	font-size: 0;
	width: 52px;
    height: 43px;
    margin: auto;
    margin-bottom: 35px;
    transition: 1s cubic-bezier(0.30, 0.9, 0.85, 1.50);
	-webkit-transition: 1s cubic-bezier(0.30, 0.9, 0.85, 1.50);
}

.about-us:hover .icon,
.about-us:active .icon{
	transform: rotate(-20deg);
	-webkit-transform: rotate(-20deg);
	transition: 0.30s cubic-bezier(0.30, 0.9, 0.85, 2.50);
	-webkit-transition: 0.30s cubic-bezier(0.30, 0.9, 0.85, 2.50);
}

.about-us .icon{
	background: url(../img/icon-about-us.png) no-repeat center/contain;
}

.about-us .text{
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: -0.5px;
    padding: 0 5px;
}

/* Product */
/*=================*/

.all-product{
	height: 100%;
	margin-bottom: 125px;
}

.row-top,
.row-middel,
.row-bottom{
	position: relative;
	height: 600px;
	overflow: hidden;
}

.row-top .case,
.row-middel .case,
.row-bottom .case{
	height: 100%;
}

.all-product .title{
	margin-bottom: 30px;
}

.all-product .text{
	font-size: 15px;
	line-height: 30px;
	letter-spacing: 0px;
	text-align: justify;
	padding: 0 5px;
	max-height: 145px;
	overflow: hidden;
}

.all-product .big-case .case-img{
	position: relative;
	height: 100%;
	background-color: #282f35;
	overflow: hidden;
}

.icon.ic-bicycle-company{
	margin: auto;
	width: 113px;
	height: 118px;
	background: url(../img/bicycle-company.png) no-repeat center/cover;
	z-index: 100;
}

.icon.ic-vintage-79{
	margin: auto;
	width: 177px;
	height: 152px;
	background: url(../img/vintage-79.png) no-repeat center/cover;
	z-index: 100;
}

.row-top .ic-bicycle-company,
.row-middel .ic-vintage-79{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
}

.all-product .big-case img{
    position: relative;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    width: 100%;
    opacity: 0.8;
}

.all-product .small-case .content{
	position: relative;
	top: 0;
	height: 66.66%;
	display: block;
	padding: 60px;
	text-align: center;
	background-color: #fff;
	z-index: 0;
}

.all-product .small-case .content:after {
    content: '';
    display: block;
    height: 1px;
    width: 50px;
    margin: 40px auto 0;
    background-color: #d7d7d7;
}

.small-case .content:hover .icon,
.small-case .content:active .icon{
	transform-origin: 50% 50%;
	transform: rotateY(360deg);
}

.all-product .small-case .case-img{
	position: absolute;
	bottom: 0;
	display: block;
	height: auto;
	width: 33.33%;
	overflow: hidden;
	background-color: #282f35;
	z-index: 10;
}

.all-product .small-case img{
    position: relative;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    width: 100%;
    opacity: 0.8;
}

.all-product .small-case .case-img:before{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: calc(50% - 10px);
	margin: auto;
	border-top: 10px solid #ffffff;
	border-bottom: 10px solid transparent;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	z-index: 100;
}

/* row-middel */
/*=================*/

.icon.ic-vintage-oliva{
	width: 41px;
	height: 30px;
	margin-bottom: 30px;
	background-image: url(../img/icon-vintage-oliva.png);
}

.icon.ic-la-boriosa{
	width: 32px;
	height: 32px;
	margin-bottom: 30px;
	background-image: url(../img/icon-la-boriosa.png);
}

/* row-bottom */
/*=================*/

.icon.ic-mhulot{
	width: 23px;
	height: 41px;
	margin-bottom: 30px;
	background-image: url(../img/icon-m.hulot.png);
}

/* twits */
/*=================*/

.twits{
	margin-bottom: 70px;
}

.slaid-tw{
	text-align: center;
	padding: 0 35px;
}

.custom-fa-twitter{
	font-size: 32px;
	color: #56c7ee;
}

.twits-slaider .user{
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 1px;
	color: #353738;
	margin-bottom: 35px;
}

.twits-slaider .user p,
.twits-slaider .user span{
	display: inline-block;
}

.twits-slaider .user span{
	font-weight: 300;
	color: #848789;
}

.twits-slaider .user span:nth-last-child(2){
	margin: 0 10px;
}

.twits-slaider .text,
.stay-email .title-form{
	font-size: 18px;
	font-weight: 400;
	font-style: italic;
	line-height: 26px;
	max-height: 135px;
	overflow: hidden;
}
.twits-slaider .text{
	height: 80px;
}

.slick-dots{
	font-size: 0;
	text-align: center;
	margin-top: 100px;
}

.slick-dots li{
	display: inline-block;
	width: 11px;
	height: 11px;
	background: none;
	border-radius: 50%;
	border: 2px solid #dbdbdb;
	margin-right: 9px;
	cursor: pointer;
}

.slick-dots li button{
	font-size: 0;
	background: none;
	border: 0;
	outline: none;
}

.slick-dots li.slick-active{
	background-color: #a9afb3;
}

/* gallery */
/*=================*/

.gallery{
	width: 100%;
	min-height: 534px;
	overflow: hidden;
	margin-bottom: 110px;
}

.gallery .col-4 .case-img,
.gallery .col-6 .case-img,
.gallery .col-12 .case-img{
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.gallery img{
	display: block;
	width: 100%;
}

.title-gallery{
	height: 200px;
	background-color: #282f35;
	text-align: center;
}

.case-img .title-img{
	position: absolute;
	display: block;
	top: calc(50% - 29px);
 	left: 0;
 	right: 0;
 	margin: 0 auto;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 2px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	z-index: 100;
	transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
	transition: 0.5s cubic-bezier(0.30, 2.40, 0.85, 1.50);
	-webkit-transition: 0.5s cubic-bezier(0.30, 1.40, 0.85, 1.50);
	opacity: 0;
}

.case-img .title-img:before{
	content: '';
	display: block;
	width: 51px;
	height: 30px;
	margin: 0 auto;
	margin-bottom: 15px;
	background: url(../img/bike.png) no-repeat center/cover;
	z-index: 100;
	visibility: visible;
	opacity: 0;
}

@-webkit-keyframes bikeDrive {
	0% { transform: rotate(0deg) translateX(-300%); }
	50% { transform: rotate(-15deg); }
	100% { transform: rotate(0deg) translateX(0%); }
}
@-o-keyframes bikeDrive {
	0% { transform: rotate(0deg) translateX(-300%); }
	50% { transform: rotate(-15deg); }
	100% { transform: rotate(0deg) translateX(0%); }
}
@-moz-keyframes bikeDrive {
	0% { transform: rotate(0deg) translateX(-300%); }
	50% { transform: rotate(-15deg); }
	100% { transform: rotate(0deg) translateX(0%); }
}
@keyframes bikeDrive {
	0% { transform: rotate(0deg) translateX(-300%); }
	50% { transform: rotate(-15deg); }
	100% { transform: rotate(0deg) translateX(0%); }
}

.case-img .shade {
	font-size: 0;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(100,194,158,0.8);
	z-index: 10;
	opacity: 0;
	transform: translateX(-100%);
	transition: 0.5s cubic-bezier(0.30, 1.40, 0.85, 1.50);
	-webkit-transform: translateX(-100%);
	-webkit-transition: 0.5s cubic-bezier(0.30, 1.40, 0.85, 1.50);
}

.case-img:hover > .shade,
.case-img:active > .shade{
	opacity: 1;
	transform: translateX(0);
	-webkit-transform: translateX(0);
}

.case-img:hover .title-img:before,
.case-img:active .title-img:before{
	animation: bikeDrive 1s cubic-bezier(0.30, 2.10, 0.85, 1.20);
	opacity: 1;
}

.case-img:hover .title-img,
.case-img:active .title-img{
	transform: translateX(0);
	-webkit-transform: translateX(0);
	opacity: 1;
}

.title-gallery .button{
	position: relative;
	top: calc(50% - 27px);
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 2px;
	color: #ffffff;
	text-transform: uppercase;
	padding: 20px 70px;
	border: 1px solid #ffffff;
	background: transparent;
	cursor: pointer;
	overflow: hidden;
}

.button > span{
	position: relative;
	z-index: 100;
}

.button:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: block;
	background-color: #64c29e;
	z-index: 0;
	transform: scale(1.3);
	-webkit-transform: scale(1.3);
	opacity: 0;
	transition: 0.35s cubic-bezier(0.30, 2.40, 0.85, 1.50);
	-webkit-transition: 0.35s cubic-bezier(0.30, 2.40, 0.85, 1.50);
}

.button:hover:before,
.button:active:before{
	opacity: 1;
	transform: scale(1);
	-webkit-transform: scale(1);
}

/* stay-email */
/* =================== */

.stay-email .brand .center{
	background-color: #ffffff;
}

.stay-email{
	text-align: center;
	margin-bottom: 110px;
}

.stay-email .title-form{
	height: auto;
	overflow: hidden;
}

.stay-email .subs{
	display: table;
	margin: auto;
}

.subs input[type="email"]{
	font-size: 18px;
	font-style: italic;
	line-height: 32px;
	width: 400px;
	padding: 18px 25px;
	border: 1px solid #d3d7d9;
	overflow: hidden;
	outline: none;
	vertical-align: bottom;
}

.subs .subs-button{
	position: relative;
	font-size: 18px;
	font-weight: 300;
	line-height: 32px;
	color: #ffffff;
	padding: 19px 45px;
	margin-left: 8px;
	text-transform: uppercase;
	vertical-align: bottom;
	overflow: hidden;
	border: 0;
	background-color: #64c29e;
	cursor: pointer;
	transition: 0.6s ease-out;
	-webkit-transition: 0.6s ease-out;
}

.subs-button.button:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	background-color: rgba(255,255,255,0.4);
	opacity: 0;
	z-index: 0;
	transform: translate(100%, -100%) rotate(45deg) scale(1.2, 1);
	-webkit-transform: translate(100%, -100%) rotate(45deg) scale(1.2, 1);
	transition: 0.7s ease-out;
	-webkit-transition: 0.7s ease-out;
}

.subs-button.button:hover:before,
.subs-button.button:active:before{
	opacity: 1;
	transform: translate(-100%, 100%) rotate(45deg) scale(1.5, 1);
	-webkit-transform: translate(-100%, 100%) rotate(45deg) scale(1.5, 1);
}

.subs .subs-button:hover,
.subs .subs-button:active{
	background-color: rgba(100,194,158,0.7);
}

/* footer */
/* =================== */

.footer{
	height: 250px;
	font-size: 0;
}

.footer .wrapper{
	position: relative;
	top: calc(50% - 28px);
	padding: 0 35px;
}

.left-foot,
.middel-foot,
.right-foot{
	width: 33.33%;
	display: inline-block;
	vertical-align: bottom;
}

.left-foot{
	text-align: left;
}

.middel-foot{
	text-align: center;
}

.right-foot{
	text-align: right;
}

.footer .copyrit li{
	display: block;
	font-size: 12px;
	font-weight: 400;
	font-style: italic;
	line-height: 14px;
	color: #848789;
	margin-bottom: 7px;
}

.footer .copyrit li:nth-of-type(1){
	font-weight: 700;
	font-style: normal;
}

.footer .copyrit li:last-child{
	margin-bottom: 0;
}

.social li{
	position: relative;
	display: inline-block;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	margin-right: 15px;
	z-index: 10;
}

.social li:last-child{
	margin-right: 0;
}

.social li a {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	z-index: 10;
}

.twit{
	background-color: #78cdf0;
}
.fb{
	background-color: #537bbd;
}
.pin{
	background-color: #eb5755;
}

.twit:before,
.fb:before,
.pin:before{
	content: '\f099';
	font-family: 'FontAwesome';
	font-size: 17px;
	color: #ffffff;
	display: block;
	position: relative;
	top: calc(50% - 8px);
	text-align: center;
	z-index: 10;
}
.fb:before{
	content: '\f09a';
}
.pin:before{
	content: '\f0d2';
}

.twit:after,
.fb:after,
.pin:after{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	border-radius: 50%;
	background-color: #64c29e;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 0;
	transform: scale(0);
	-webkit-transform: scale(0);
	transition: 0.5s cubic-bezier(0.30, 2.40, 0.85, 1.50);
	-webkit-transition: 0.5s cubic-bezier(0.30, 1.40, 0.85, 1.50);
}

.twit:hover:after,
.fb:hover:after,
.pin:hover:after,
.twit:active:after,
.fb:active:after,
.pin:active:after{
	opacity: 1;
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}

.yebo li{
	display: inline-block;
	font-size: 11px;
	font-weight: 400;
	font-style: italic;
	color: #848789;
	line-height: 14px;
}
.yebo .logo-yebo{
	display: inline-block;
	font-size: 0;
	width: 56px;
	height: 36px;
	background: url(../img/YEBO_Logo.png) no-repeat center;
	vertical-align: middle;
	margin-left: 10px;
}

/* @media */
/* =================== */

@media (max-width: 1617px){
	.row-top .card,
	.row-middel .card,
	.row-bottom .card{
		height: 600px;
	}
	.all-product .small-case img,
	.all-product .big-case img{
		width: auto;
	}
}

@media screen and (max-width: 1070px){
	.container{
		max-width: 90%;
	}
}

@media screen and (max-width: 980px){
	.col-12{
		width: 100%;
		float: none;
	}
	.row-top,
	.row-middel{
		height: auto;
	}
	.row-top .card,
	.row-middel .card{
		height: auto;
	}
	.about-us{
		padding: 60px 0;
	}
	.all-product .small-case .content{
		position: relative;
		height: auto;
	}
	.all-product .text{
		max-height: 175px;
	}
	.all-product .small-case .case-img{
		position: relative;
		width: 100%;
    	height: auto;
	}
	.all-product .small-case img,
	.all-product .big-case img{
		width: 100%;
	}
	.row-bottom .small-case .case-img{
		position: absolute;
		height: auto;
		width: 33.33%;
	}
	.row-bottom .small-case .content{
		padding: 60px 30px;
	}
	.row-bottom .big-case img{
		height: 100%;
		width: auto;
	}

}

@media screen and (max-width: 767px) {
	.header{
		min-height: 500px;
	}
	.drop-menu{
		display: block;
		z-index: 10000;
	}
	.drop-menu:active ~ .nav-wrapp{
		transform: translate(0, 0);
		-webkit-transform: translate(0, 0);
	}
	.nav-wrapp{
		position: fixed;
		left: 0;
		width: 260px;
		height: 100%;
		overflow: auto;
		padding-top: 140px;
		background-color: rgba(0,0,0,0.8);
		transform: translate(-100%, 0);
		-webkit-transform: translate(-100%, 0);
	}
	.brand .center{
		background-color: rgba(0,0,0,0.8);
	}
	.navigation{
		margin: 40px auto;
		border-top: 1px solid #fff;
		position: relative;
		z-index: 10;
	}
	.menu li{
		display: block;
		padding-left: 0;
		padding-right: 0;
	}
	.menu li:before{
		display: none;
	}
	.menu li a:not(.brand){
		display: block;
		color: #fff;
		box-shadow: 0 0 0 0 #fff, 0 1px 0 0 #fff;
		-webkit-box-shadow: 0 0 0 0 #fff, 0 1px 0 0 #fff;
	}
	.menu > li a:not(.brand):after{
		border-top: 0px;
	}
	.header .brand{
    	position: absolute;
		padding: 0;
		margin: 0;
		left: 0;
		top: -75px;
    }
	.row-bottom{
		height: auto;
	}
    .row-bottom .col-4:first-child{
		display: none;
    }
    .row-bottom .card{
		height: auto;
	}
	.col-xl{
		width: 100%;
		float: none;
	}
    .row-bottom .small-case .case-img,
    .row-bottom .big-case img{
		position: relative;
		height: auto;
		width: 100%;
	}
}

@media screen and (max-width: 590px){
	.about-us .text{
		margin-bottom: 0;
	}
	.all-product,
	.gallery,
	.stay-email{
		    margin-bottom: 55px;
	}
	.twits-slaider .text{
		height: 130px;
	}
	.slick-dots{
		margin-top: 50px;
	}
	.slaid-tw{
		padding: 0 15px;
	}
	.subs input[type="email"]{
		width: 100%;
	}
	.subs .subs-button{
		width: 100%;
		margin: 0;
	}
	.footer {
		height: 100%;
	}
	.left-foot, .middel-foot, .right-foot{
		width: 100%;
		margin: 35px auto;
		float: none;
	}
}

@media screen and (max-width: 420px){
	.header{
		min-height: 320px;
	}
	.all-product .small-case .content{
		padding: 30px;
	}
	.about-us .icon, .all-product .icon{
		width: 52px !important;
		height: 43px !important;
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}
	.title-gallery .button{
		padding: 20px 35px;
	}
	
}